@model IEnumerable<RandomWikiNS.Models.WikiPageVM>

@{
	ViewBag.Title = "Index";
}

<h2>Random Wikis</h2>

<p>
@Html.ActionLink("Generate New", "Index")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.PageId)
		</th>
		<th>Link</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				 @Html.DisplayFor(modelItem => item.PageId)
			</td>
			<td>
				<a href = @item.url>Link</a>
			</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.PageId }) |
			</td>
		</tr>
	}
</table>
